################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetPractice.CSharpBasics/bin/Debug/netcoreapp3.1
/DotNetPractice.CSharpBasics/obj
/.vs/DotNetPractice/v16
/DotNetPractice.CSharpBasics/bin/Release/netcoreapp3.1
/.vs
